<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="{% static '/bootstrap-5.0.2-dist/css/bootstrap.css' %} ">
    <title>{{i.sarlavha}}</title>
</head>
<body>
    <div class="container">
        <h1>{{i.sana}}</h1>
        <div class="row">
            <div class="col-12">
                <img src="{{i.rasm.url}}" alt="rasm" style="width:30%;">
                <p>{{i.sarlavha}}</p>
            </div>

        </div>
        <div class="row footer">
            <p>© 2022 xurshidbek.com</p>
        </div>
    </div>
</body>
</html>